page-bill {

}


.btn-gray-two {
    background: url(../assets/btn_gray_2.png) no-repeat !important;
    background-size: 100% !important;
    border-radius: 30px !important;
    color: #ffffff !important;
    height: 38px !important;
    width: 150px;
    //padding-bottom: 6px !important;
}