page-claimjob {

}


.btn-Claimyellow-curve {
    background: url(../assets/btn_yellow_curve.png) no-repeat !important;
    background-size: 100% !important;
    line-height: .4 !important;
    color: #d8262a !important;
    height: 38px !important;
    width: 110.5%; // for android
    //width: 95%;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-left: -15px; //for android
    //margin: -5px 0px 0px 10px; // for ios 

}