// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.activeHighlight{
    color: #F5C537;
}

/*Custom is class added to the ion-content */
.custom{
    background-color: rgb(29, 29, 29) !important;
}

.custom .item{
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: none;
}

.list-ios .item-block .item-inner {
    border-bottom: 0px;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px;
}

.menu_item_title{
    float: left;
    font-size: 18px;
    font-weight: lighter;
}



.list-md .item-block .item-inner {
    border-bottom: 0px;
}

.logut-menu {
    color: white;
    padding: 200px 0px 0px 10px;
}

.class1{
    
}


.menu-img-size{
    
    //width: 35px !important; // for android
    //height: 35px !important; // for android
    //padding: 1px 0px 6px 5px !important;    
    
    
    //width: 40px !important;
    //height: 40px !important;
    //padding: 0px 0px 10px 10px !important //android
    //padding: 10px 5px 0px 5px !important;   // ios

    width: 45px !important; // for ios
    height: 45px !important; // for ios
    padding: 10px 10px 5px 5px !important; // for ios
}

.logout-img-size {
    width: 30px !important;
    height: 30px !important;
    //padding: 8px 0px 0px 5px !important; for android
    padding: 7px 0px 0px 10px; // for ios
}

.item-md ion-thumbnail {
    min-width: 0px;
    min-height: 0px;
}

.text-input-ios {
    margin: 0px;
}
.logout{
    padding: 7px 0px 0px 55px;
    color: white;
}


.item-ios ion-thumbnail[item-start] {
        margin: 8px 0px 10px 0px;
}


button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
    background-image: none;

}

.menu-inner {
    transform: translateX(0px);
    width: 71.3%;
}


@font-face {
    font-weight: normal;
  font-style: normal;
  font-family: 'Titillium Web', sans-serif;
  src: url('../assets/fonts/abc.woff2') format('woff2'),;
}
*{
font-family: 'Titillium Web', sans-serif;
}